{% extends "base.html" %}

{% block content %}
<h1>Build A Blog</h1>

<hr />

{% if blogs|length == 0 %}
<p>No entries yet</p>
{% else %}

    <ul>
        {% for blog in blogs %}
        <div>
        <h1><a href="/blog?id={{blog.id}}">{{ blog.title }}</a></h1>
        <input type="hidden" name="blog-id" value="{{blog.id}}" />
        <p>{{blog.body}}</p>
        <p>written by <a href="/blog?user={{blog.owner.username}}">{{ blog.owner.username }}</a></p>
        
        </div>
        {% endfor %}
    </ul>

{% endif %}

<hr />

{% endblock %}